.App {
  text-align: center;
}

.container {
  height: 80vh;
  width: 50vh;
  position: absolute;
  top: 10%;
  left:40%;
  margin: 0 auto;
  border: solid 2px black;
  color: white;
  overflow: hidden;
}


